*{
    margin: 0;
    padding: 0;
}
html,body{
    width: 100%;
    height: 100%;
}
/*.container{*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*display: flex;*/
/*}*/
.left{
    background-color: #ff0000;
    /*width: 300px;*/
    /*height: 100%;*/
}
.center{
    background-color: #0000ff;
    /*flex: 1;*/
}
.right{
    background-color: #00ff00;
    /*width: 300px;*/
    /*height: 100%;*/
}

.container{
    width: 100%;
    height: 100%;
}
.inner{
    margin:0 200px 0 180px;
    height:100%;
    background-color: #eeeeee;
}
.center{
    width: 100%;
    height: 100%;
    float: left;
}
.left{
    width: 300px;
    height: 100%;
    float: left;
    margin-left: -100%;
}
.right{
    width: 300px;
    height: 100%;
    float: left;
    margin-left: -300px;
}
